.email-certification-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email-form-title {
  margin-top: 236px;
  font-weight: 700;
  font-size: 32px;
  color: #333333;
  margin-bottom: 150px;
}
.text-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.email-btn-style {
  margin-top: 80px;
}
