@use '@/foundations/variables' as *;
@use '@/foundations/mixins' as *;

.card {
  @include flex(column, 16px);
  width: 249px;
  height: 490px;
  cursor: pointer;
  position: relative;

  img {
    @include img;
    height: 320px;
  }

  &:hover {
    img {
      transform: scale(1.02);
      transition: 0.3s ease-in-out;
    }
    .wish-container {
      display: block;
    }
  }
}

.wish-container {
  position: absolute;
  top: 53%;
  left: 75%;
  display: none;
}

.info {
  @include flex(column, 4px);
}

.business-name {
  font-size: $font-sm;
  color: $color-subtext;
}

.name {
  font-weight: $font-medium;
  color: $color-text;
}

.price {
  font-weight: $font-bold;
}

.rate {
  color: $color-discount;
  font-weight: $font-bold;
  padding-right: 4px;
}

.final {
  font-size: $font-sm;
  color: $color-subtext;
  text-decoration: line-through;
}

.review {
  font-size: $font-xs;
  color: $color-subtext;
  @include flex;
}
