@use '@/foundations/mixins' as *;
@use '@/foundations/variables' as *;

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-container {
  padding: 40px 0;

  .title {
    text-align: center;
    a {
      @include flex-center;
      gap: 4px;
    }
  }

  h2 {
    font-size: 28px;
    font-weight: $font-semibold;
    padding-bottom: 8px;
  }

  p {
    color: $color-subtext;
    padding-bottom: 28px;
  }
}

.iframe-wrap {
  width: 100%;
  border-top: 1px solid $color-border;
}
.iframe-container {
  width: 1050px;
  padding: 60px 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  h2 {
    font-size: 40px;
    padding: 16px 0;
  }
  p {
    font-size: 22px;
    color: $color-subtext;
    padding-bottom: 36px;
    font-weight: 600;
  }

  button {
    width: 310px;
    font-size: 16px;
    color: $color-subtext;
    font-weight: 500;
  }
}
