.inquiry-top-section-component {
  border-bottom: 1px solid #eeeeee;
  display: flex;
  gap: 31.5px;
  padding: 17px 20px;
  font-weight: 400;
  font-size: 14px;
  color: #888888;
}
.long-section-component {
  width: 70%;
}
.short-section-component {
  width: 10%;
  text-align: center;
}
