.inquiry-title {
  margin-top: 160px;
  font-weight: 700;
  font-size: 24px;
  color: #333333;
}
.inquiry-box {
  margin-top: 20px;
  width: 100%;
}
.inquiry-top-section {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  display: flex;
  gap: 31.5px;
  padding: 17px 20px;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}
.long-section {
  width: 70%;
  text-align: center;
}
.short-section {
  width: 10%;
  text-align: center;
}
