@use '@/foundations/mixins' as *;
@use '@/foundations/variables' as *;

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: $shadow-header;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-header;
}

.seller {
  width: 100%;
  height: 56px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: $shadow-header;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-header;

  .logout {
    @include flex-center;
    gap: 4px;
    color: $color-subtext;
  }
}

.container {
  width: 1050px;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 36px;
  font-size: 14px;
  font-weight: 500;

  .login a {
    padding: 0 12px;

    &:last-child {
      border-left: 1px solid $color-border;
      color: $color-main;
    }
  }

  .user {
    position: relative;
    height: 100%;
    @include flex(row, 4px);
    align-items: center;

    .user-icon {
      width: 28px;
      height: 28px;
      @include flex-center;
      background-color: $color-bg;
      color: $color-main;
      border-radius: 20px;
    }
  }
}

.middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.middle-right {
  display: flex;
  align-items: center;
  gap: 32px;

  div {
    display: flex;
    align-items: center;
    gap: 32px;
    color: $color-text;
  }

  a {
    width: 36px;
    height: 36px;
    @include flex-center;

    & :hover {
      color: $color-main;
    }
  }
}

.nav {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  position: relative;

  .nav-left {
    @include flex(row, 120px);
    height: 100%;

    button {
      @include flex-center;
      gap: 8px;

      &:hover {
        color: $color-main;
      }
    }

    .gnb {
      display: flex;

      li a {
        width: 160px;
        @include flex-center;
        height: 100%;

        &:hover {
          color: $color-main;
        }
      }
    }
  }

  .nav-right a {
    @include flex-center;
    width: 88px;
    height: 32px;
    font-size: 14px;
    color: $color-main;
    border: 1px solid $color-border;
    border-radius: 30px;
  }
}

.category-wrap {
  @include flex(column, 0);
  width: 240px;
  height: 500px;
  border: 1px solid $color-border;
  background-color: $color-white;
  position: absolute;
  left: 0;
  top: 56px;
  z-index: $z-sub-menu;
  display: none;

  li {
    padding: 20px;
    font-size: 14px;

    &:hover {
      color: $color-main;
      background-color: $color-bg;
    }
  }
}

.category:hover + .category-wrap {
  display: block;
}

.category-wrap:hover {
  display: block;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 36px;
  z-index: $z-sub-menu;
  background-color: #fff;
  border-radius: 4px;
  width: 100px;
  padding: 8px;
  box-shadow: $shadow-x;
  display: none;

    li {
      padding: 8px;
      text-align: center;
      border-radius: 4px;

      &:hover {
        background-color: $color-bg;
      }
    }
}

.user:hover .dropdown {
  display: block;
}

.dropdown:hover {
  display: block;
}
