@use '@/foundations/mixins' as *;
@use '@/foundations/variables' as *;

.wrap {
  width: 1050px;
}

.title {
  text-align: center;
  padding: 50px 0;
}

.sort-list {
  @include flex(row, 0);
  @include font(14px, 400, $color-subtext);
  margin-bottom: 20px;
  justify-content: end;

  li {
    border-right: 1px solid $color-border;
    padding: 0 8px;

    &:last-child {
      border-right: none;
    }
  }

  .active {
    color: $color-text;
  }
}