@use '@/foundations/_variables' as *;

@font-face {
  font-family: "Pretendard Variable";
  src: url('@/assets/fonts/PretendardVariable.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pretendard Variable", sans-serif;
  font-size: $font-base;
  color: $color-text;
  line-height: 1.4;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
}

li {
  list-style: none;
}

.none {
  display: none;
}