@mixin flex($direction: row, $gap: 4px) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-grid($col-gap: 0, $row-gap: 0) {
  display: flex;
  flex-wrap: wrap;
  column-gap: $col-gap;
  row-gap: $row-gap;
}

@mixin img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin font($size: 16px, $weight: 500, $color: #333 ) {
  font-size: $size;
  font-weight: $weight;
  color: $color
}