// Colors
$color-text: #333;
$color-subtext: #888;
$color-border: #EEE;
$color-bg: #FAFAFA;
$color-white: #FFF;
$color-error: #FF402B;
$color-discount: #FA622F;

// Font sizes
$font-xs: 12px;
$font-sm: 14px;
$font-base: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-2xl: 24px;
$font-3xl: 28px;
$font-4xl: 32px;

// Font weights
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// layout
$container-width: 1050px