.back-drop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3); // ← 이게 모달 뒤 배경 어둡게 하는 부분
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
}
.back-to-login-modal-box {
  width: 296px;
  height: 174px;
  padding: 20px 28px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
}
.back-to-login-modal-text {
  font-size: 13px;
  font-weight: 400;
  color: #333333;
}
.img-box {
  width: 25px;
  height: 25px;
  margin-top: 10px;
}
.button-box {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}
