.category-detail-box {
  margin-top: 120px;
}
.detail-category-box {
  width: 100%;
  height: 60px;
  display: flex;
  border: 1px solid #eeeeee;
  gap: 211px;
  padding: 19px 115px;
  background-color: #fafafa;
}
.detail-category {
  font-weight: 500;
  font-size: 16px;
  color: #888888;
  cursor: pointer;
}
