.category-detail-box {
  margin-top: 120px;
}
.detail-category-box {
  width: 100%;
  height: 60px;
  display: flex;
  border: 1px solid #eeeeee;
  gap: 211px;
  padding: 19px 115px;
  background-color: #fafafa;
}
.detail-category {
  font-weight: 500;
  font-size: 16px;
  color: #888888;
  cursor: pointer;
}
.product-detail-description {
  margin-top: 40px;
}
.seller-information-box {
  margin-top: 100px;
  width: 100%;
  height: 314px;
}
.seller-information-title-box {
  display: flex;
  gap: 20px;
  align-items: center;
}
.seller-information-title {
  font-weight: 700;
  font-size: 24px;
  color: #333333;
}
.seller-information-more {
  font-weight: 700;
  color: #333333;
  font-size: 14px;
}
.seller-information-description-box {
  margin-top: 20px;
  width: 100%;
  height: 260px;
  padding: 40px;
  background-color: #eeeeee;
  display: flex;
  gap: 20px;
}
.seller-img {
  width: 200px;
  height: 180px;
  background-color: #ffffff;
}
.seller-description-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.seller-description-form {
  display: flex;
  gap: 61px;
}
.seller-description {
  width: 80px;
  font-weight: 400;
  font-size: 14px;
  color: #888888;
}
.seller-description-real {
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
