@use '@/foundations/variables' as *;
@use '@/foundations/mixins' as *;

.container {
  width: 740px;
  background-color: $color-white;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 40px 24px;
}

.title {
  border-bottom: 2px solid $color-border;
  padding-bottom: 20px;
  font-size: $font-xl;
  font-weight: $font-semibold;
}

.contents-wrapper {
  // width: 100%;
  img {
    width: 100px;
    height: 110px;
    border-radius: 4px;
    background-color: $color-border;
  }
  
  .contents-overview {
    @include flex($gap: 6px);
    padding: 10px 0px;
    .status {
      @include font($weight: $font-bold)
    }
    .product-name {
      @include font($size: $font-sm)
    }
    .row-texts{
      @include flex();
      align-items: center;
      .sm-text {
        @include font($size: $font-sm)
      }
      .quantity{
        @include font($size: $font-sm, $weight: $font-normal, $color: $color-text)
      }
      .date{
        @include font($size: $font-xs, $weight: $font-normal, $color: $color-subtext)
      }
    }
  }
}