* {
  margin: 0;
  box-sizing: border-box;
}

.option-box {
  position: relative;
}
.option-icon {
  position: absolute;
  width: 15px;
  height: 15px;
  transition: transform 0s;
}
.option-icon.rotate {
  transform: rotate(180deg);
}
.modal-box {
  display: flex;
  position: absolute;
  width: 100%;
  flex-direction: column;
  border: 1px solid #e9eaeb;
  border-radius: 8px;
  box-shadow: 0px 4px 6px -2px #0a0d1208;
  box-shadow: 0px 12px 16px -4px #0a0d1214;
  gap: 5px;
}
.modal-items {
  background-color: #ffffff;
  text-align: left;
}
//md 사이즈
.option-btn.md {
  width: 320px;
  height: 44px;
  padding: 10px 14px;
  border: 1px solid #d5d7da;
  box-shadow: 0px 1px 2px 0px #0a0d120d;
  text-align: left;
  background-color: #ffffff;
  color: #717680;
  font-size: 16px;
}
.option-icon.md {
  top: 14px;
  right: 14px;
}
.modal-box.md {
  top: 52px;
}
.modal-items.md {
  font-size: 16px;
}
//lg 사이즈
.option-btn.lg {
  width: 400px;
  height: 32px;
  padding: 4px 16px;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 2px 0px #0a0d120d;
  text-align: left;
  background-color: #ffffff;
  color: #888888;
  font-size: 12px;
}
.option-icon.lg {
  top: 8px;
  right: 8px;
}
.modal-box.lg {
  top: 40px;
}
.modal-items.lg {
  font-size: 12px;
}
