.product-detail-description {
  margin-top: 40px;
}
.seller-information-box {
  margin-top: 100px;
  width: 100%;
  height: 314px;
}
.seller-information-title-box {
  display: flex;
  gap: 20px;
  align-items: center;
}
.seller-information-title {
  font-weight: 700;
  font-size: 24px;
  color: #333333;
}
.seller-information-more {
  font-weight: 700;
  color: #333333;
  font-size: 14px;
}
