.review-title {
  margin-top: 24px;
  font-weight: 700;
  font-size: 24px;
  color: #333333;
}
.review-count {
  margin-top: 40px;
  font-weight: 700;
  font-size: 24px;
  color: #333333;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
img {
  width: 24px;
  height: 24px;
}
.review-list-box {
  width: 100%;
  height: 164px;
  margin-top: 40px;
  display: flex;
  gap: 13.2px;
}
.temporary-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16%;
  height: 164px;
  background-color: #eeeeee;
  &.white {
    color: #fafafa;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
  }
}
.all-review-box {
  margin-top: 40px;
  display: flex;
  gap: 8px;
}
.review-detail {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  border-top: 1px solid #333333;
}
.review-item {
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  gap: 134px;
  min-height: 141px;
  padding: 20px;
}
.review-user-name {
  font-size: 14px;
  font-weight: 400;
  color: #888888;
}
.review-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
}
.default-ment {
  color: #888888;
  font-size: 14px;
  font-weight: 400;
}
.review-img {
  width: 164px;
  height: 164px;
}
.review-date {
  font-size: 12px;
  font-weight: 400;
  color: #888888;
}
.temporary-img {
  width: 176px;
  height: 164px;
}
