.review-title {
  margin-top: 24px;
  font-weight: 700;
  font-size: 24px;
  color: #333333;
}
.review-count {
  margin-top: 40px;
  font-weight: 700;
  font-size: 24px;
  color: #333333;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
img {
  width: 24px;
  height: 24px;
}
.review-list-box {
  width: 100%;
  height: 164px;
  margin-top: 40px;
  display: flex;
  gap: 13.2px;
}
.temporary-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16%;
  height: 164px;
  background-color: #eeeeee;
  &.white {
    color: #fafafa;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
  }
}
.all-review-box {
  margin-top: 40px;
  display: flex;
  gap: 8px;
}
.review-detail {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  border-top: 1px solid #333333;
}
