@use '@/foundations/variables' as *;
@use '@/foundations/mixins' as *;

.footer {
  width: 100%;
  height: 320px;
  background-color: #fff;
  border-top: 1px solid $color-border;
  @include flex-center;
  color: $color-subtext;
}

.wrap {
  width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section_left {
  @include flex(column, 32px);
  font-size: 14px;

  .links {
    display: flex;
    gap: 36px;

    a:hover {
      text-decoration: underline;
    }
  }

  .company_info {
    p {
      line-height: 1.8;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.section_right {
  .center_title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 16px;
  }

  .center_phone {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .center_info {
    font-size: 14px;
    line-height: 1.6;
  }
}
