@use '@/foundations/mixins' as *;
@use '@/foundations/variables' as *;

.container {
  position: relative;
  top: 0;
  left: 0;
  width: 1920px;
  height: 380px;
  overflow: hidden;
  margin-bottom: 40px;
}

.slider {
  display: flex;
  height: 100%;
}

.slide {
  width: 1920px;
  height: 100%;
  flex-shrink: 0;
  cursor: pointer;

  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    @include img;
  }
}

.arrow {
  width: 60px;
  height: 60px;
  @include flex-center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  position: absolute;
  top: 50%;
  z-index: $z-header;
  transform: translateY(-50%);
  color: $color-white;
  visibility: hidden;
}

.right {
  right: 300px;
}

.left {
  left: 300px;
}

.container:hover .arrow {
  visibility: visible;
}
