@use '@/foundations/_mixins.scss' as mixins;
.sign-up-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-up-title {
  margin-top: 236px;
  font-weight: 700;
  font-size: 32px;
  color: #333333;
}
.choose-type {
  margin-top: 28px;
  font-weight: 400;
  font-size: 16px;
  color: #888888;
}
.type-box {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
.box {
  @include mixins.flex-center;
  flex-direction: column;
  width: 320px;
  height: 320px;
  border-radius: 6px;
  gap: 20px;
  box-shadow: 0px 0px 4px 0px #00000040;
}
.user {
  border: 1px solid #eeeeee;
}
.producer {
  border: 1px solid #4e6813;
}
.type-title {
  font-weight: 600;
  font-size: 24px;
}
.type-description {
  font-weight: 400;
  font-size: 16px;
  color: #888888;
}
