@use '@/foundations/mixins' as *;
@use '@/foundations/variables' as *;

.wrap {
  position: relative;
  width: 1050px;
}

.container {
  overflow: hidden;
}

.slider {
  display: flex;
}

.slide {
  flex-shrink: 0;
}

.arrow {
  width: 60px;
  height: 60px;
  @include flex-center;
  color: $color-text;
  background-color: $color-white;
  border-radius: 60px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.07);
  position: absolute;
  top: 160px;
  z-index: $z-header;
  transform: translateY(-50%);

  &:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  }
}

.right {
  right: -30px;
}

.left {
  left: -30px;
}

.disabled {
  display: none;
}
