.detail-box {
  margin-top: 50px;
}
.modal {
  margin-top: 120px;
}
.product-information {
  margin-top: 40px;
}
.product-detail-top-box {
  display: flex;
  gap: 50px;
}
.representative-img {
  width: 500px;
  height: 550px;
  border-radius: 6px;
}
.product-simple-information {
  display: flex;
  flex-direction: column;
}
.top-description {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
}
.product-detail-title {
  margin-top: 4px;
  font-weight: 700;
  font-size: 28px;
  color: #333333;
  max-width: 500px;
}
.product-detail-price {
  margin-top: 16px;
  font-weight: 700;
  font-size: 28px;
  color: #333333;
}
.product-detail-fix-box {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
  color: #888888;
  font-weight: 400;
}
.product-detail-origin-row {
  display: flex;
  gap: 61px;
}
.product-detail-text {
  color: #333333;
}
.modal-css {
  position: relative;
  right: 15px;
  bottom: 3px;
}
.product-detail-option-box {
  display: flex;
  gap: 61px;
  margin-top: 4px;
  align-items: center;
}
.product-count-box {
  display: flex;
  position: relative;
  align-items: center;
  width: 500px;
  height: 72px;
  border: 1px solid #eeeeee;
  padding: 15px;
  //   추후에 20px로 수정 -> ui상 자연스럽게 하기 위해 15px로 임시조정
  justify-content: space-between;
  color: #333333;
}
.product-total-price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333333;
  width: 500px;
}
.total-price {
  font-weight: 700;
  font-size: 28px;
}
.wish-add-to-cart-box {
  display: flex;
  gap: 12px;
}
.count-box {
  width: 87px;
  height: 32px;
  border-radius: 2px;
  border: 1px solid #eeeeee;
  padding: 8px 8px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.calculate-btn {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.discount-box {
  display: flex;
  gap: 10px;
  align-items: center;
}
.discount-container {
  display: flex;
  gap: 15px;
}
.product-del-price {
  font-size: 16px;
  font-weight: 400;
  color: #999;
  text-decoration: line-through;
}
.product-discount-rate {
  color: #ff3b30;
}
